<article class="container-projects">
    <aside class="container-projects__aside">
        <ul>
            <li class="container-projects__section">
                Proyectos en proceso
            </li>
            <li>
                Proyectos cerrados
            </li>
            <li>
                Proyectos no Iniciados
            </li>
        </ul>
    </aside>
    <section class="container-projects__list">
            <ul class="container-projects__element">
                <li> Listar Proyectos</li>
            </ul>
    </section>

</article>